<?xml version='1.0' encoding='utf-8'?>
<widget id="pe.picnic.lifesignal" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Señal de Vida UNACEM</name>
    <description>
    </description>
    <author email="jonatan@picnic.pe" href="http://picnic.pe">
        Agencia Picnic
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300"/>
    <preference name="SplashMaintainAspectRatio" value="true" />


    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" /> 

    <plugin name="org.apache.cordova.contacts" spec="0.2.16" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.globalization" />
    <plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" source="npm"/>
    <plugin name="nl.x-services.plugins.socialsharing" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="Icon.png" />
    
    <icon src="res/icon/ios/Icon-60@3x.png" platform="ios" width="180" height="180" />

   
    <icon src="res/icon/ios/Icon-60.png" platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/Icon-60@2x.png" platform="ios" width="120" height="120" />

    <icon src="res/icon/ios/Icon-Small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/Icon-Small@2x.png" platform="ios" width="58" height="58" />
    <icon src="res/icon/ios/Icon-Small@3x.png" platform="ios" width="87" height="87" />

    <icon src="res/icon/ios/Icon-Small-50.png" platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/Icon-Small-50@2x.png" platform="ios" width="100" height="100" />
    
    <icon src="res/icon/ios/iTunesArtwork.png" platform="ios" width="512" height="512" />
    <icon src="res/icon/ios/iTunesArtwork@2x.png" platform="ios" width="1024" height="1024" />
   
    <icon src="res/icon/ios/Icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/Icon-40@2x.png" platform="ios" width="80" height="80" />
    <icon src="res/icon/ios/Icon-40@3x.png" platform="ios" width="120" height="120" />
    
    <icon src="res/icon/ios/Icon.png" platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/Icon@2x.png" platform="ios" width="114" height="114" />

    <icon src="res/icon/ios/Icon-72.png" platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/Icon-72@2x.png" platform="ios" width="144" height="144" />

    <icon src="res/icon/ios/Icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/Icon-76@2x.png" platform="ios" width="152" height="152" />

    <icon src="res/icon/ios/Icon-83.5@2x.png" platform="ios" width="167" height="167" />

    <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>

    <plugin name="cordova-plugin-facebook4" spec="https://github.com/jeduan/cordova-plugin-facebook4">
        <param name="APP_ID" value="100412800363577" />
        <param name="APP_NAME" value="Life Signal" />
    </plugin>

</widget>
